.anykey_titel { FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #800000; FONT-FAMILY: Verdana, Arial, Helvetica }
.anykey_titelbig { FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #800000; FONT-FAMILY: Verdana, Arial, Helvetica }
.anykey_small { FONT-SIZE: 12px; COLOR: #800000; FONT-FAMILY: Verdana, Arial, Helvetica }
.anykey_titelbigXXL { FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica }
.adresse { FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica }

.felder { FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  BORDER: 1px #000000 solid }
.felder_greyBorder { FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  BORDER: 1px #E0E0E0 solid }

.felderBigBlue { 
	FONT-SIZE: 14px; 
	COLOR: #000000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  
	BORDER: 1px #330099 solid;
	background-color:#ADD8E6;
}

.felder_lightblue { 
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	background-color:#ADD8E6;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  
	BORDER: 1px #000000 solid 
	}


.felder_colorB{
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	background-color:#FFFF99;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  
	BORDER: 1px #000000 solid 
	}


.felder_colorC{
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	background-color:#CCCCFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  
	BORDER: 1px #000000 solid 
	}


.felder_colorD{
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	background-color:#FF9999;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  
	BORDER: 1px #000000 solid 
	}


.felder_colorE{
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	background-color:#FFCCCC;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  
	BORDER: 1px #000000 solid 
	}

.felder_colorG{
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	background-color:#FFCC99;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  
	BORDER: 1px #000000 solid 
	}

.felder_colorH{
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	background-color:#E0E8EE;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  
	BORDER: 1px #000000 solid 
	}


.felder_grey { FONT-SIZE: 10px; COLOR: #000000; background-color:#E0E0E0;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  BORDER: 1px #000000 solid }
.felder_lightblue { FONT-SIZE: 10px; COLOR: #000000; background-color:#ADD8E6;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  BORDER: 1px #000000 solid }
.felder_multiple { FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  BORDER: 1px #000000 solid;width: 450px; }
.disabled { FONT-SIZE: 10px; COLOR: #CCCCCC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  BORDER: 1px #CCCCCC solid }
.inaktiv TD { FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; }
.txt1{font-size: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; }
.txt1bold{font-size: 10px; font-weight:bold;COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; }

.txt1boldBigBlue{
	font-size: 14px; 
	font-weight:bold;
	COLOR: #330099; 
	FONT-FAMILY: Verdana, Arial, Helvetica; 
}

.inaktiv { FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; }

BODY { 
        FONT-SIZE: 10px; 
        COLOR: #000000; 
        FONT-FAMILY: Verdana, Arial, Helvetica;
        background-position:<%=position_left%>;
        background-repeat:repeat-y; 
        background-color:#FFFFFF}
        
TD { font-size: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; }
.tr_underline { border-color:#FF00FF; }

.A{
    	text-decoration:underline;
    	color:blue;
    	background-color:transparent;
    }
    
    .A:hover{
    	text-decoration:underline;
    	color:blue;
    	background-color:transparent;
    }
    
    .A:visited{
    	text-decoration:underline;
    	color:blue;
    	background-color:transparent;
    }
    .A:visited:hover{
    	text-decoration:underline;
    	color:blue;
    	background-color:transparent;
    }
    
textarea {
  overflow: auto;
  FONT-SIZE: 10px; 
  COLOR: #000000; 
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  
  BORDER: 1px #000000 solid;
}


    
.felderrechts { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-align: right; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.rapporttitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000}
.rapportbig {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000}
.title_farbig {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #555555;}
.tabelle_m_Rahmen { border-top:1px solid olive;}
.zelle_m_Rahmen { border-top:1px solid #993333;
                  border-right:1px solid #993333;
                 
                }
.rahmen_unten { border-bottom:1px solid olive;}                
.red_alert{
        border-bottom : solid Red;
        border-top : solid Red;
        font-family : sans-serif;
        font-size : 14px;
        font-weight : bold;
}

.red_btn{
        color : Red;
        font-family : sans-serif;
        font-size : 12px;
        font-weight : bold;
}

.tblHeader{
        font-weight : bold;
        color       : #606060;
        background-color: #E8E9EE;
}
.zeilenumbruch {
        white-space:nowrap;
}


.zelle_m_Stundenlinie_oben{border-top:1px <%=LineStunde%> black;border-right:1px solid black;border-left:1px solid black;}

.zelle_m_Halbstundenlinie_oben{border-top:1px <%=LineHalbstunde%> black;border-right:1px solid black;border-left:1px solid black;}

.zelle_m_Viertelstundenlinie_oben{border-top:1px <%=LineViertelstunde%> gray;border-right:1px solid black;border-left:1px solid black;}

.zelle_m_RahmenUntenOlive { border-bottom:1px solid olive;}
.zelle_m_RahmenUntenBlack { border-bottom:1px solid #CCCCCC;vertical-align:middle;white-space:nowrap}
.zelle_m_RahmenUntenBlackFirst { border-bottom:1px solid #CCCCCC;vertical-align:top;white-space:nowrap}
.zelle_m_RahmenOben {border-top:1px solid black;}

.zelle_m_RahmenRechtsUnten {
	border-right:1px solid black;
	border-bottom:1px solid black;
	}
	
.zelle_m_RahmenObenRechtsUnten {
	border-top:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	}
	
.zelle_m_RahmenObenRechtsUntenLinks {
	border-top:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid black;
	}
	
.zelle_m_RahmenRechtsUntenLinks {
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid black;
	}
	
.zelle_m_RahmenRechts {border-right:1px solid black}