body{
	background : #6FA7D1;
}

.clsDemoNode, .clsDemoNode:visited{
	color: #F5F5F5;
	font-weight: bold;
	font-size : 11px;
	text-decoration : none;
	font-family : Arial, Helvetica, sans-serif;
}
.clsDemoNode:hover{
	color: #F5F5F5;
	font-weight: bold;
	font-size : 11px;
	text-decoration : none;
	font-family : Arial, Helvetica, sans-serif;
}

.clsDemoNode1, .clsDemoNode1:visited{
	color: #F5F5F5;
	font-size : 10px;
	text-decoration : none;
	font-family : Arial, Helvetica, sans-serif;
}
.clsDemoNode1:hover{
	color: #F5F5F5;
	font-size : 11px;
	text-decoration : none;
	font-family : Arial, Helvetica, sans-serif;
}

.cls3rdlevel, .cls3rdlevel:visited{
	color: #F5F5F5;
	font-size : 10px;
	text-decoration : none;
	font-family : Arial, Helvetica, sans-serif;
}
.cls3rdlevel:hover{
	color: #F5F5F5;
	font-size : 10px;
	text-decoration : none;
	font-family : Arial, Helvetica, sans-serif;
}

.anykey_small { FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica }

