@model SingSpaze.Models.user

@{
    ViewBag.Title = "Profile";
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
  <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.1.0.js")"></script> 
  <script type="text/javascript">
      function accountViewModel() {
          var self = this;
          self.account = ko.observableArray();

          var baseUri = '@ViewBag.ApiUrl';
          var baseUri2 = '@ViewBag.ApiUrl2';



          self.update = function (account) {
              $.ajax({ type: "PUT", url: baseUri2 , data: account });
          }


          
          //$.getJSON(baseUri, self.account);
          $.ajax({ type: "GET", url: baseUri }).done(function (o) { self.account.push(o); });
      }

      $(document).ready(function () {
          ko.applyBindings(new accountViewModel());
      })
  </script>
}

<h2>Admin</h2>
<div class="content">
    <div class="float-left">
    <ul id="update-products" data-bind="foreach: account">
        <li>
            <div>
                <div class="item">UID</div> <span data-bind="text: $data.user_login"></span>
            </div>
            <div>
                <div class="item">Password</div> 
                <input type="text" data-bind="value: $data.user_password"/>
            </div>           
            <div>
                <input type="button" value="Update" data-bind="click: $root.update"/>                
                <input type="hidden" data-bind="value: $data.user_id" />
            </div>
        </li>
    </ul>
    </div>

    
</div>
