@{
    ViewBag.Title = "Sing Spaze Management";
}
<form id="login" action="/home/login" method="post"  style="text-align: center;">
<table>
    <tr>
        <td>UID :</td>
        <td><input type="text" name="user_login" /></td>
    </tr>
    <tr>
        <td>Password :</td>
        <td><input type="text" name="user_password" /></td>
    </tr>
    <tr>
        <td</td>
        <td><input type="submit" value="Log in" /></td>
    </tr>
</table>
</form>