body p{ 
   font-size: 11px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
}

p.titel {
   font-size: 11.5px;
   font-weight: bold;
   margin-top: 15px;
   color: #333399;
}

main td {
   font-size:9px;
   	background-color: #E3E3E3;
}


main input {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color:#000000;
   font-size:11px;
   border-width:0px;
   text-align:center;
   padding:0px;
   width:100%;
   background-color:#FFFFFF;
}

input#buttonPrev, input#buttonNext {
   width: auto;
   border-width: 1px;
   background-color:lightgrey;
   padding: 1px;
   padding-right:1px;
   padding-left:1px;
}

.noreservation, .feiertag, .empty, .leer
{
	font-size: 11px;
   	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:FFFFFF;
}

.ferienButton, .ferien
{
	font-size: 11px;
   	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:FFDAB9;
}

.provisorischButton, .provisorisch
{
	font-size: 11px;
   	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:FFFACD;
}

.einmaligButton, .belegt
{
	font-size: 11px;
   	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:E0FFFF;
}

.mehrmaligButton, .mehrmalig
{
	font-size: 11px;
   	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:E6E6FA;
}

.nichtverfuegbarButton, .nichtverfuegbar
{
	font-size: 11px;
   	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:FFE4E1;
}

.rahmenFerien{

	font-size: 11px;
   	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:2px #FF0000 solid;
	background-color:FFFFFF;

}

.rahmenBelegt{

	border:2px #FF0000 solid;
	background-color:E0FFFF;

}

.firstCell
{
	font-size: 10px;
   	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #E3E3E3;
	padding: 5px;
	border-right-color: #000000;
}
	
.titleCell
{
	width: 20px;
	background-color: #E3E3E3;
   	font-family: "Lucida Console", monospace;	/* Titel immer gleiche Breite */
	font-size: 11px;
	text-align: center;
	padding: 2px;
	border-bottom-color: #000000;
}

.activeCell
{
   border-color:#FF0000;
   background-color:FFFFFF;
   border-style:solid;
   border-width:2px
}

.dateDropDown
{
  	 font-size:11px;
}

.labelDetailInfo, .labelTag
{
	 font-size: 11px;
	 font-weight: bold;

}

.literalDetail, .literalDetail
{
   vertical-align: top;
   font-size:11px;
}

main td.literalDetail
{
   padding-left: 10px;
   	background-color: #FFFFFF;
}

#legende tr td {
   text-align:center;
   width:20%;
   padding:5px;
}

table#legende {
   background-color:#000000;
   border-spacing:1px;
   width:680px;
   margin-right: 10px;
}


#cWebGrid {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#cWebGridDetail {
	margin-bottom: 10px;

}