.anykey_titel { FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #800000; FONT-FAMILY: Verdana, Arial, Helvetica }
.anykey_titelbig { FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #800000; FONT-FAMILY: Verdana, Arial, Helvetica }
.anykey_small { FONT-SIZE: 12px; COLOR: #800000; FONT-FAMILY: Verdana, Arial, Helvetica }
.anykey_titelbigXXL { FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #800000; FONT-FAMILY: Verdana, Arial, Helvetica }
.adresse { FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica }
.felder { FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  BORDER: 1px #000000 solid }
.felderLabel { FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  font-weight:bold; }
.felder_grey { FONT-SIZE: 10px; COLOR: #000000; background-color:#E0E0E0;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  BORDER: 1px #000000 solid }
.felder_lightblue { FONT-SIZE: 10px; COLOR: #000000; background-color:#ADD8E6;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  BORDER: 1px #000000 solid }
.felder_multiple { FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  BORDER: 1px #000000 solid;width: 450px; }
.disabled { FONT-SIZE: 10px; COLOR: #CCCCCC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  BORDER: 1px #CCCCCC solid }
.inaktiv TD { FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; }
.txt1{font-size: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; }
.txt1bold{font-size: 10px; font-weight:bold;COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; }
.inaktiv { FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; }

.bgGrey {background-color:#e0e0e0;}

.bgOnMouseOver{background-color:#FFFFFF;}
.bgOnMouseOver:hover{background-color: #E6CC80;}

.tdUnderlined{text-decoration:underline;}

.cursor{cursor:pointer;}

.felderButton { 
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  
	BORDER: 1px #000000 solid ;
	WIDTH: 150px;
}

BODY { 
        FONT-SIZE: 10px; 
        COLOR: #000000; 
        FONT-FAMILY: Verdana, Arial, Helvetica;
        background-repeat:repeat-y; 
        background-color:#FFFFFF}
        
TD { font-size: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; }

th
{
	background-color: #E3E3E3;
   	font-family: "Lucida Console", monospace;	/* Titel immer gleiche Breite */
	font-size: 11px;
	text-align: center;
	padding: 2px;
	border-bottom-color: #000000;
}

.thleft
{
	background-color: #E3E3E3;
   	font-family: "Lucida Console", monospace;	/* Titel immer gleiche Breite */
	font-size: 11px;
	text-align: left;
	padding: 2px;
	border-bottom-color: #000000;
}

.thright
{
	background-color: #E3E3E3;
   	font-family: "Lucida Console", monospace;	/* Titel immer gleiche Breite */
	font-size: 11px;
	text-align: right;
	padding: 2px;
	border-bottom-color: #000000;
}

.url{ FONT-SIZE: 10px; COLOR: #009900; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-DECORATION: none; font-weight: bold;cursor:pointer;}                
                
.tr_underline { 
	border-color:#FF00FF; 
}     


A:hover { FONT-SIZE: 10px; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-DECORATION: none;  font-weight: bold; }
A:link { FONT-SIZE: 10px; COLOR: #009900; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-DECORATION: none; font-weight: bold }
A:visited {        FONT-SIZE: 10px; COLOR: #009900; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-DECORATION: none; font-weight: bold }
A:visited:hover {        FONT-SIZE: 10px; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-DECORATION: none; background-color: #000080; font-weight: bold }
.felderrechts { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-align: right; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.rapporttitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000}
.rapportbig {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000}
.title_farbig {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #555555;}
.tabelle_m_Rahmen { border-top:1px solid olive;}
.zelle_m_Rahmen { border-top:1px solid #993333;
                  border-right:1px solid #993333;
                 
                }
				
.keineDaten{display:block;margin-top:20px;}				
              
#hourglass{
	display:none;
	background: #eeeeee url(../images/hourglass.gif) center no-repeat;
	width:300px;
	height:300px;	
	position:absolute;
	top:30%;
	left:30%;
	text-align:center;
	font:bold 12px Verdana, Arial, Helvetica;
	border:3px outset #eeeeee;
 }
 
.znv_kernfach{   
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: red; 
	text-align: left; 
	font-weight:bold;}  
	
.znv_notenschnitt{   
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	color: blue; 
	text-align: right;}             
                           
                
.rahmen_unten { border-bottom:1px solid olive;}  
.rahmen_oben { border-top:1px solid olive;}    
.rahmen_ohne { border:0px solid white;}   

.link1 { FONT-SIZE: 10px; COLOR: #009900; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-DECORATION: none; font-weight: bold }
                
.spanGrey{
	background-color:#E0E0E0;
	border:1px black solid;
	padding:3px;
	}
	                
	                               
.red_alert{
        border-bottom : solid Red;
        border-top : solid Red;
        font-family : sans-serif;
        font-size : 14px;
        font-weight : bold;
}


.red_btn{
        color : Red;
        font-family : sans-serif;
        font-size : 12px;
        font-weight : bold;
}

.tblHeader{
        font-weight : bold;
        font-style  : italic;
        color       : #606060;
        background-color: #E8E9EE;
}
.zeilenumbruch {
        white-space:nowrap;
}


.zelle_m_Stundenlinie_oben{border-top:1px <%=LineStunde%> black;border-right:1px solid black;border-left:1px solid black;}

.zelle_m_Halbstundenlinie_oben{border-top:1px <%=LineHalbstunde%> black;border-right:1px solid black;border-left:1px solid black;}

.zelle_m_Viertelstundenlinie_oben{border-top:1px <%=LineViertelstunde%> gray;border-right:1px solid black;border-left:1px solid black;}

.zelle_m_RahmenUntenOlive { border-bottom:1px solid olive;}
.zelle_m_RahmenUntenBlack { border-bottom:1px solid black;vertical-align:middle;white-space:nowrap}
.zelle_m_RahmenUntenBlackFirst { border-bottom:1px solid black;vertical-align:top;white-space:nowrap}
.zelle_m_RahmenOben {border-top:1px solid black;}

.zelle_m_RahmenRechtsUnten {
	border-right:1px solid black;
	border-bottom:1px solid black;
	}
	
.zelle_m_RahmenObenRechtsUnten {
	border-top:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	}
	
.zelle_m_RahmenObenRechtsUntenLinks {
	border-top:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid black;
	}
	
.zelle_m_RahmenRechtsUntenLinks {
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid black;
	}
	
.zelle_m_RahmenRechts {border-right:1px solid black}


.zelle_m_RahmenObenUnten{
	border-top:1px solid black;
	border-bottom:1px solid black;
	}

.zelle_m_RahmenOben{
	border-top:1px solid black;
	}	



@media print {
      .noprint { display: none; }
}

.testMissingNote
{
    background-color: #FFFF99;
   	
}